<div class="col-md-4">
    <div *ngIf="!pelicula">
        <p> Clickeá sobre una Pelicula para ver detalle</p>
    </div>
      
    <div *ngIf="pelicula">
        <h2>{{pelicula.nombre}} </h2> 
        
        
        <div class="card" style="width:200px">
            <img class="card-img-top" [src]="pelicula.foto" alt="Card image">
            
            <!-- <img class="card-img-top" [src]="fotoActual" alt="Card image" [ngStyle]="{'width': anchoDeFoto}"> -->
            <div class="card-body">
                <h4 class="card-title">{{pelicula.tipo}}</h4>
                <p class="card-text">Fecha Estreno: {{pelicula.fechaEstreno | date}}</p>
                <!-- <a href="#" class="btn btn-danger">Borrar</a> -->
                <a (click)="Clear()" class="btn btn-info">Limpiar</a>
            </div>
        </div>
    </div>
</div>
