<h1 class="display-3">Tabla pelicula!</h1>

<p>Alta e imperdible seleccion de movies. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam natus porro excepturi in, dolores ut quos ipsam voluptatibus nam impedit aliquid illo neque ad rerum. Magnam voluptatem dolor sapiente ducimus?</p>
<p><a class="btn btn-primary btn-lg" role="button" id="btnVerMas" (click)="VerTabla()">{{verMas}}</a></p>
<table class="table table-striped" [ngStyle]="{'visibility': visible}">
    <thead>
        <tr>
            <th id="id">id</th>
            <th>Nombre</th>
            <th>Estreno</th>
            <th>Genero</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoPeliculas" class="linea">
            <td></td>
            <td>{{p.nombre}}</td>
            <td>{{p.fechaEstreno}}</td>
            <td>{{p.tipo}}</td>
            <td><button type="button" class="btn btn-info  btn-circle" (click)="Seleccion(p)"><i
                        class="fa fa-check">ver</i>
                </button></td>
        </tr>
    </tbody>
</table>